@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

th,
td {
    border: solid 1px black;
    padding: 0.5rem 0.7rem;
}

th:not(:first-child),
td:not(:first-child) {
    min-inline-size: 170px;
}

table tr th {
    white-space: nowrap;
}
