@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

th,
td {
  border: solid 1px black;
  padding: 0.5rem 0.7rem;
}

th:not(:first-child),
td:not(:first-child) {
  min-inline-size: 170px;
}

table tr th {
  white-space: nowrap;
}

/* ---------------------------------------------------------------------------------------------- */
.forms {
  @apply lg:flex lg:flex-row lg:flex-wrap lg:gap-6;
}

.d-flex-col {
  @apply flex flex-col;
}

.input-data {
  @apply min-w-full;
}
